<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
	<main layout:fragment="contents" class="container" style="padding-top: 120px; padding-bottom: 60px;">
	    <div class="row">
	        <div class="col-md-6">
	            <img src="black-shirt.jpg" class="img-fluid mb-3" alt="상품 이미지">
	        </div>
	        <div class="col-md-6">
	            <h3>Organic dreamy camisole (Black)</h3>
	            <h5>₩44,000</h5>
	            <p>상품설명상ㅁㅍㅁㄴㄹㄴㅇㄹ</p>
	
	            <div class="d-flex gap-2">
	                <button class="btn btn-dark">add to cart</button>
	            </div>
	        </div>
	    </div>
	</main>
</html>