<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
        
	 <main layout:fragment="contents" class="m-5">
            <div class="row g-2">
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="black-shirt.jpg" class="img-fluid" alt="Bunny&Doll Jewel-T long (Black)">
                    <div class="product-text">Bunny&Doll Jewel-T long (Black)<br>₩44,000</div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="pink-shirt.jpg" class="img-fluid" alt="Bunny&Doll Jewel-T long (Pink)">
                    <div class="product-text">Bunny&Doll Jewel-T long (Pink)<br>₩55,800 <span class="original-price">₩62,000</span></div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="black-shirt.jpg" class="img-fluid" alt="Bunny&Doll Jewel-T long (White)">
                    <div class="product-text">Bunny&Doll Jewel-T long (White)<br>₩39,600 <span class="original-price">₩44,000</span></div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="pink-shirt.jpg" class="img-fluid" alt="Bunny&Doll skirt pants">
                    <div class="product-text">Bunny&Doll skirt pants<br>₩80,100 <span class="original-price">₩89,000</span></div>
                </div>
            </div>

            <div class="row g-2">
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="black-shirt.jpg" class="img-fluid" alt="Bunny&Doll Jewel-T long (Black)">
                    <div class="product-text">Bunny&Doll Jewel-T long (Black)<br>₩44,000</div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="pink-shirt.jpg" class="img-fluid" alt="Bunny&Doll Jewel-T long (Pink)">
                    <div class="product-text">Bunny&Doll Jewel-T long (Pink)<br>₩55,800 <span class="original-price">₩62,000</span></div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="black-shirt.jpg" class="img-fluid" alt="Bunny&Doll Jewel-T long (White)">
                    <div class="product-text">Bunny&Doll Jewel-T long (White)<br>₩39,600 <span class="original-price">₩44,000</span></div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="pink-shirt.jpg" class="img-fluid" alt="Bunny&Doll skirt pants">
                    <div class="product-text">Bunny&Doll skirt pants<br>₩80,100 <span class="original-price">₩89,000</span></div>
                </div>
            </div>

            <div class="pagination-container text-center mt-5">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">«</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">»</a></li>
                    </ul>
                </nav>
            </div>
        </main>
	
</html>