<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}">

<main layout:fragment="contents" class="cart-page my-5 px-0">
    <h4 class="m-4 d-flex align-items-center">장바구니</h4>

    <table class="table align-middle text-center border-top w-100">
        <thead class="border-bottom">
            <tr>
                <th><input type="checkbox" id="checkAll" class="form-check-input" checked></th>
                <th class="text-muted text-start ps-4">상품 정보</th>
                <th class="text-muted">수량</th>
                <th class="text-muted">주문금액</th>
                <th></th>
            </tr>
        </thead>

        <!-- 장바구니 비어있을 때 -->
        <tbody th:unless="${cartView != 'nothing'}">
            <tr>
                <td colspan="5" class="empty-cart text-center py-5">
                    <i class="bi bi-cart"></i>
                    <p class="mt-3">장바구니가 비어있습니다.</p>
                    <a href="#" class="more-shoping text-decoration-underline">계속 쇼핑하기</a>
                </td>
            </tr>
        </tbody>

        <!-- 장바구니 상품 있을 때 -->
        <tbody th:if="${cartView != 'nothing'}">
            <tr th:each="item : ${cartView}">
                <td class="text-start ps-4" style="width: 50px;">
                    <input type="checkbox" class="form-check-input" checked>
                </td>
                <td class="text-start d-flex align-items-center">
                    <img th:src="${item.mainImagePath}" alt="상품 이미지" height="100">
                    <span class="ms-3" th:text="${item.productName}">Bunny&Doll Jewel-T long (Black)</span>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <button class="btn btn-outline-secondary btn-sm px-2 quantity-minus" 
                                th:data-user-id="${item.userId}" th:data-product-id="${item.productId}">-</button>
                        <span class="mx-2 quantity-count" th:text="${item.quantity}">1</span>
                        <button class="btn btn-outline-secondary btn-sm px-2 quantity-plus" 
                                th:data-user-id="${item.userId}" th:data-product-id="${item.productId}">+</button>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-outline-secondary btn-sm mt-2">옵션/수량 변경</button>
                    </div>
                </td>
                <td>
                    <p class="fw-bold" th:text="${#numbers.formatInteger(item.totalPrice, 3, 'COMMA')} + '원'">44,000원</p>
                </td>
                <td>
                    <button class="deleteBtn btn btn-sm" th:value="${item.productId}">
                        <i class="icon bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- 상품 있을 때 하단 영역 -->
    <div th:if="${cartView != 'nothing'}" class="px-4">
        <div class="fw-bold d-flex align-items-center justify-content-center px-2 my-4">
            <p>총 주문 금액   
            <span class="total-price" th:text="${#numbers.formatInteger(#aggregates.sum(cartView.![totalPrice]), 3, 'COMMA')} + '원'">44,000원</span></p>
        </div>

        <div class="text-center mb-5">
            <button class="btn btn-dark px-5 py-2">주문하기</button>
            <div class="mt-3">
                <a href="#" class="more-shoping">계속 쇼핑하기</a>
            </div>
        </div>
    </div>
</main>

<script layout:fragment="script">
	$(function() {
    	$("#orderBtn").on("click", function (e) {
		    let form = $("form")[0];
		    let checkedCartIds = [];
		
		    $(".cartView").each(function () {
		        let checkbox = $(this).find("input[type='checkbox']");
		
		        if (checkbox.is(":checked")) {
		            checkedCartIds.push(checkbox.val());
		        } else {
		            checkbox.prop("disabled", true); // 체크 안된 건 서버 전송 제외
		        }
		    });
		
		    if (checkedCartIds.length === 0) {
		        e.preventDefault(); // 폼 제출 막기
		        alert("주문할 상품을 선택해주세요.");
		    }
		});

	});
</script>
</html>
