
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
 	<main layout:fragment="contents" class="login-container">
        <div class="login-box text-center">
            <h5>Create Account</h5>
            <div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="nameInput" placeholder="이름">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="emailInput" placeholder="이메일">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="passwordInput" placeholder="비밀번호">
                </div>
                <div>
                	<div id="duplicate" class="text-danger d-hidden">중복된 이메일 입니다.</div>
                    <button type="button" class="btn btn-primary" id="joinBtn">create</button>
                </div>
            </div>
            <div class="mt-3">
                <a href="/user/login-view">login</a>
            </div>
        </div>
    </main>
    
        <script layout:fragment="script">
			$(function() {
				

				
				$("#joinBtn").on("click", function() {
					let name = $("#nameInput").val();
					let email = $("#emailInput").val();
					let password = $("#passwordInput").val();
					
					if(name == "") {
						alert("이름을 입력하세요");
						return ;
					}
					
					if(email == "") {
						alert("이메일을 입력하세요");
						return ;
					}
					
					if(password == "") {
						alert("비밀번호를 입력하세요");
						return ;
					}
					
					$.ajax({
						type:"Get"
						, url:"/user/duplicate-email"
						, data:{"email":email}
						, success:function(response) {
							if(response.isDuplicate == true) {
								$("#duplicate").show();
								return ;
							} else {
							}
						}
						, error:function() {
							alert("중복 확인 에러!!");
							return ;
						}
					});
					
					$.ajax({
						type:"post"
						, url:"/user/join"
						, data:{"name":name, "email":email, "password":password}
						, success:function(response) {
							if(response.result == "success") {
								alert("회원가입이 완료되었습니다. 로그인 페이지로 이동합니다.");
								location.href = "/user/login-view";
							} else {
								alert("회원 가입 실패!!");
							}
						}
						, error:function() {
							alert("회원가입 에러!!");
						}
					});
				});
			});
		
		</script>
</html>