
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
	<main layout:fragment="contents" class="login-container">
            <div class="login-box text-center">
                <h5>LOGIN</h5>
                <div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="emailInput" placeholder="email">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="passwordInput" placeholder="password">
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" id="loginBtn">sign in</button>
                    </div>
                </div>
                <div class="mt-3">
                    <a href="/user/join-view">create an account</a>
                </div>
            </div>
	</main>


    
    <script layout:fragment="script">
	    $(function() {
			
			
			$("#loginBtn").on("click", function() {
				let email = $("#emailInput").val();
				let password = $("#passwordInput").val();
				
				
				if(email == "") {
					alert("이메일을 입력하세요");
					return ;
				}
				
				if(password == "") {
					alert("비밀번호를 입력하세요");
					return ;
				}
				
				$.ajax({
					type:"post"
					, url:"/user/login"
					, data:{"email":email, "password":password}
					, success:function(response) {
						if(response.result == "success") {
							alert("로그인이 완료되었습니다. 메인 페이지로 이동합니다.");
							location.href = "/product";
						} else {
							alert("로그인 실패!!");
						}
					}
					, error:function() {
						alert("로그인 에러!!");
					}
				});
			});
		});
	    
    </script>

</html>