 <header class="d-flex align-items-center justify-content-between py-4 px-5 fixed-top bg-white">
            <a href="#"><div class="logo">gingstyle</div></a>
            <div class="d-flex">
                <nav class="m-auto"> <!-- ml-auto 추가 -->
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link menu" href="#">NEW</a></li>
                        <li class="nav-item"><a class="nav-link menu" href="#">BEST THINGS</a></li>
                        <li class="nav-item"><a class="nav-link menu" href="#">SHOP ALL</a></li>
                    </ul>
                </nav>
                <div class="mx-3 d-flex align-items-center">
                    <a href="/user/join-view"><i class="icon bi bi-pencil"></i></a>  <!-- 연필 아이콘 -->
                    <a href="/user/login-view"><i class="icon bi bi-emoji-smile"></i></a>  <!-- 스마일 아이콘 -->
                    <i class="icon bi bi-cart"></i>  <!-- 장바구니 아이콘 -->
                </div>
            </div>
        </header>